[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[user]
	name = sunasun
	email = sunasun526@gmail.com
[commit]
	template = ~/.stCommitMsg
[alias]
alias = config --get-regexp alias
me = config --get-regexp user
plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
plogs = log --stat --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
plogg = log --graph --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
br = branch
co = checkout
ci = commit
st = status
pl = pull
ps = push
